/********* Fonts **********/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}

/****** Main Styling ******/

html {
	background-color: #eee; 
}

a {
	color: inherit;
}

a:hover {
	color: inherit;
}

body {
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0 auto;
	padding: 0;
	max-width: 900px;
}

header{
	height: 60px;
	background-color: #222;
	color: #fff;
	display: flex;
	padding: 0 20px;
	align-items: center;
}

header span {
	flex: 1;
}

.menu {
	display: flex;
}

main {
	min-height: calc(100vh - 100px);
}

.jumbotron {
	margin: 0px;
}

.main__container {
	padding: 20px;
}

.polls__container {
	padding-bottom: 10px;
}

footer {
	height: 40px;
	background-color: #222;
	color: #fff;
	text-align: center;
	line-height: 40px;
}