doctype html

html

  include partial/head.pug

  body
    include partial/header.pug
  
    main.bg-light
      .jumbotron.jumbotron-fluid.bg-info.text-white.text-center
        .container
          h1.display-4 Voting APP
          p.lead Select a poll to see the results and vote, or sign-in to make a new poll.
          if user
            a.btn.btn-primary(href='/create')
              |  create a poll

      .main__container.row
         .polls__container.col-md-6
           a.btn.btn-default.btn-block.border
             | content
           a.btn.btn-default.btn-block.border
             | content
         .polls__container.col-md-6
           a.btn.btn-default.btn-block.border
             | content
           a.btn.btn-default.btn-block.border
             | content

    include partial/footer.pug